/* Digital Dreamers Thanks for using My Code, 
   Check out my github repository Regularly for new snippets.
 */
 @import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
 * {
    box-sizing: border-box;
 }
 :root {
    background: #ffffff;
    color: #333;
    font-weight: bold;
 }
 body {
    margin: 0%;
 }
 .section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
 }
 .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    width: 450px;
    height: 250px;
    background-color: var(background);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    height: 250px;
    width: 110px;
    background-color: #95efe3;
 }
 .card1 img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0px -110px 0px 0px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }
 .card2 {
    display: flex;
    flex-direction:column;
    align-items:end;
    justify-content: center;
    height:260px;
    padding:20px 30px; 
    width:350px;
    color:var(fontcolor);
 }
 .card2 h2 {
    margin:0px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
 }
 .card2 h6 {
    font-family: 'Yantramanav', sans-serif;
    margin:0px;
    font-size:16px;
 }
 .card2 button {
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 30px;
    transition: .5s;
    border:none;
    background-color: #a1e8e9;
    color:#282828;
    font-weight: 900;
    margin:10px 0px;
 }
 .card2 button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #f2f0f0;
 }
 .card2 .icons {
    display: flex;
    align-items: end;
    margin:10px 0px;
 }
 .card2 .icons i {
    background-color: #f1f1f1;
    margin: 2px 4px;
    padding: 10px;
    border-radius:30px;
    color:#121212;
    font-size:20px;
 }
 .card2 .icons i:hover{
    cursor: pointer;
    background-color: #9fddec;
}
@media only screen and (max-width: 630px){
    .card{
        flex-direction: column;
        width:98%;
        height:fit-content;
    }
    .card1{
        width:100%;
        border-radius:10px;
    }
    .card1 img{
        margin: 0px;
    }
    .card2{
        width:100%;
        justify-content: center;
        align-items: center;
    }
}
.credit a{
    text-decoration: none;
    color: #121212;
    font-weight: 800;
}
.credit{
    color: #121212;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
}

